body {
    height: 100vh;
    background-color: #212121;
    color: white;
    font-family: 'Tahoma';
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    text-align: center;
}

a, p {
    color: white;
    font-size: 18px;
}

button {
    background-color: white;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    font-family: 'Tahoma';
    color: #212121;
}