body {
    height: 100vh;
    background-color: #212121;
    color: white;
    font-family: 'Tahoma';
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    text-align: center;
}

a, p {
    color: white;
    font-size: 22px;
}

button {
    background-color: white;
    border: none;
    border-radius: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    font-size: 18px;
    font-family: 'Tahoma';
    color: #212121;
}

input {
    background-color: white;
    border: none;
    border-radius: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    margin-right: 4px;
    font-size: 18px;
    font-family: 'Tahoma';
    color: #212121;
}