<!DOCTYPE html>
<html>
    <head>
        <title> Equations Maths Test </title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    </head>

    <body>
        <div class="container">
            <h2>What is the value of x:</h2>
            <p>{{question}}</p>
            <form method="POST">
                <input type="number" name="answer" placeholder="Enter you answer">
                <button type="submit">Submit</button>
            </form>
            <p>{{feedback}}</p>
        </div>
    </body>
</html>